<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>eunomia.web.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>eunomia.web.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModulePortal</servlet-name>
        <servlet-class>eunomia.web.ModulePortal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sensor</servlet-name>
        <servlet-class>eunomia.web.Sensor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartModule</servlet-name>
        <servlet-class>eunomia.web.StartModule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealtimePanel</servlet-name>
        <servlet-class>eunomia.web.realtime.RealtimePanel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModulePortal</servlet-name>
        <url-pattern>/ModulePortal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sensor</servlet-name>
        <url-pattern>/Sensor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartModule</servlet-name>
        <url-pattern>/StartModule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealtimePanel</servlet-name>
        <url-pattern>/RealtimePanel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
